body {
    margin: 0 auto;
}
img {

    float: left;
    width: 126px;
    margin: 6px 125px 5px 10px;
    padding: 7px 0px 0px 0px;

    
}

.header .button {
    float: right;
    margin: 5px 15px 5px 0px;
    padding-top: 1px;
    background: #f5b532;
    border: 0px;
    border-radius: 27px;
    width: 80px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    line-height: 2.4;

    
}

.header {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.28);
    padding: 1px;
    overflow: hidden;

}

.main {
  clear: both;
  
}

.main .content .h1 {
    text-align: center;
    font-size: 84px;
    font-weight: 500;
    letter-spacing: 8px;
    margin: 50px 0px 1px 0px;
    padding: 20px 0px 0px 0px;
    color: #292929;

}
.main .content .h2 {
    text-align: center;
    font-size: 24px;
    color: #7e7e7e;
    line-height: 1.5;
    margin: 0px 0px 6px 0px;
    padding: 0px 0px 25px 0px;

    
 
}

.main .content .button-main {
    text-align: center;
    border-radius: 29px;
    background-color: #f5b523;
    border: 0px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin: 30px 10px 10px 580px;
    padding: 10px 3px 5px 0px;
    font-size: 20px;
    height: 30px;
    width: 190px;


}

.wrap {
    background: #fff7e5;
    border: 0px
    margin: 0 auto;
    margin: 100px 0px 0px 0px;
    padding:90px 0px 10px 0px;
    width: 100%;
    clear: both;
    
}

.wrap .contents .title {
    text-align: center;
    font-size: 52px;
    font-weight: 550;
    margin: 150px 0px 0px 0px;
    color: #292929;
    margin: 0 auto;
}

.wrap .contents .Subtitle {
    text-align: center;
    font-size: 20px;
    color: #7e7e7e;
    margin: 5px auto 0 auto; 
    font-family: PingFangTC;
    width: 540px;
    margin: 0 auto;
    padding: 10px 0px 50px 0px;
}

.wrap .contents .button-wrap {
    text-align: center;
    width: 180px;
    height: 40px;
    border-radius: 29px;
    background-color: #f5b523;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 100px 0px 10px 580px;
    padding: 5px 3px 5px 0px;
    line-height: 2.0;
    margin: 0 auto;


}

.section {
   background: #fff7e5;
   padding: 0px 0px 500px 0px
   margin: 0 auto; 
   padding: 0px 10px 500px 10px;

   
   
   

}

 .personal  {
     float: left;
     width: 400px;
     margin: 0 auto;
     
    
    
    
    } 

.personal .maintitle {
    font-size: 20px;
    text-align: center;
    color: #f5a623;
    font-weight: 600;
    margin: 12px 0px 8px 160px;
    

}

.personal .finaltitle {
    font-size: 16px;
    text-align: center;
    color: #7e7e7e;
    line-height: 1.5;
    margin: 8px -86px 20px 110px;
    padding: 0px 30px 10px 8px;
}

.section .personal img {
    width: 347px;
    height: 247.56px;
    margin: 0 auto;
    margin: 50px 20px 12px 110px;
    background-color: #fff7e5;
}

.main2 {
    clear: both;
    margin: 0 auto;
    margin: 0px 0px 400px 0px;
    padding: 0px 0px 500px 0px;
}

.main2 .contents .title {
    text-align: center;
    font-size: 52px;
    font-weight: 550;
    margin: 150px 0px 0px 0px;
    padding: 130px 0px 0px 0px;
    color: #292929;
    margin: 0 auto;

}

.main2 .contents .title2 {
    text-align: center;
    font-size: 20px;
    color: #7e7e7e;
    font-family: PingFangTC;
    width: 545px;
    margin: 10px 293px 50px 406px
 

}

.main2 .contents .button-main2 {
    text-align: center;
    width: 180px;
    height: 40px;
    border-radius: 29px;
    background-color: #f5b523;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 50px 0px 0px 580px;
    padding: 5px 3px 5px 0px;
    line-height: 2.0;
    margin: 0 auto;


}

.main2 .private img {
    width: 941px;
    height: 642.08px;
    margin: 0 auto;
    margin: 60px 20px 12px 205px;
   padding: 0px 0px 100px 0px;

}

.main3 {
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
    margin: 5px 0px 0px 0px;
    clear: both;
    background-color: #fff7e5;

}

.main3 .contents .title {
    text-align: center;
    font-size: 52px;
    font-weight: 550;
    margin: 150px 0px 0px 0px;
    padding: 130px 0px 0px 0px;
    color: #292929;
    margin: 0 auto;
}

.main3 .contents .title2 {
    text-align: center;
    font-size: 20px;
    color: #7e7e7e;
    font-family: PingFangTC;
    width: 545px;
    margin: 10px 293px 50px 406px
}

.main3 .contents .button-main3 {
    text-align: center;
    width: 180px;
    height: 40px;
    border-radius: 29px;
    background-color: #f5b523;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 50px 0px 0px 580px;
    padding: 5px 3px 5px 0px;
    line-height: 2.0;
    margin: 0 auto;

}

.section2 {
    margin: 0 auto;
    margin: 0px 0px 2px 0px;
    padding: 0px 0px 100px 0px;
    overflow: hidden;
    background-color: #fff7e5;

}
.section2 .personal img {
    float: left;
    width: 350px;
    margin: 0 auto;
    margin: 50px 20px 12px 110px;
    
} 

.main4 {
    margin: 0 auto;
}

.main4 .contents {
    float: left;
}

.main4 .contents .title {
    text-align: center;
    font-size: 52px;
    font-weight: 550;
    margin: 150px 0px 0px 0px;
    padding: 130px 65px 0px 130px;
    color: #292929;
    margin: 0 auto;
    
}

.main4 .contents .title2 {

    font-size: 20px;
    color: #7e7e7e;
    font-family: PingFangTC
    width: 545px;
    margin: 1px 3px 50px 0px;
    padding: 4px 10px 0px 150px;
    

}

.main4 .contents .button-main4 {
    text-align: center;
    float: left;
    width: 180px;
    height: 40px;
    border-radius: 29px;
    background-color: #f5b523;
    border: 1px solid #f5b532;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 3px 5px 0px;
    line-height: 2.0;
    margin: 0 auto;
    margin: 0px 10px 0px 148px;


}

.main4  .section3 img {
    float: left;
    width: 487.88px;
    height: 482px;
    margin: 0 auto;
    margin: 50px 10px 12px 70px;
    padding: 10px 0px 0px 20px;
}
   



